//
//  Secret.xcconfig
//  P09_Desruelles_Rodolphe_L1_projet_xcode_062022
//
//  Created by Rodolphe Desruelles on 27/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974



//-------------------------------------------------------------------------------------//
//                                                                                     //
// Set the API Keys and rename this file to Secret (Real file name is Secret.xcconfig) //
//                                                                                     //
//-------------------------------------------------------------------------------------//

FIXER_IO_API_KEY =

MICROSOFT_TRANSLATOR_SUBSCRIPTION_KEY =
MICROSOFT_TRANSLATOR_SUBSCRIPTION_REGION =

OPENWEATHER_API_KEY =
